/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: lightgrey;
}
.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-start{
  justify-content: flex-start;
}

.flex-space-between{
  justify-content: space-between;
}

.flex-align-items-start{
  align-items: flex-start;
}

.error-message{
  background-color: lightcoral;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 8px;
  padding-right: 8px;
}
